/* Общие стили */
*,
*::before,
*::after {
  box-sizing: border-box;

  // Плавный скролл
  scroll-behavior: smooth;

  // Сглаживание шрифтов
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;

  // Fix размытия изображений в Chromium
  image-rendering: -webkit-optimize-contrast;

  // outline default false
  outline: none;

  font: inherit;
  font-size: inherit;
  color: inherit;
}

// Вытягиваем все картинки по ширине и убираем отступ
img {
  vertical-align: top;
  object-fit: cover;
  width: 100%;
  height: auto;
}

// reset списков
ul,
ol {
  list-style-type: none;
  margin: 0;
}

// reset title, parag 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
}

// button
button {
  padding: 0;
  background-color: transparent;
  border: 1px solid #000;
}

// input
input {
  padding: 0;
  background-color: transparent;
  border: 1px solid #000;
}

// textarea
textarea {
  padding: 0;
  background-color: transparent;
  border: 1px solid #000;
  vertical-align: top;
}

// link
a {
  text-decoration: none;
}

// Настройки body
body {
  min-width: 320px;
  position: relative;
}