// Подключаем normalize https://github.com/necolas/normalize.css
@import "./components/normalize";

// Подключаем шрифты
@import "./components/fonts";

// Подключаем переменные
@import "./components/variables";

// Подключаем общие стили для всего проекта
@import "./components/config";

// Подключаем стили для скролла
@import "./components/scrollbar";

// Подключаем контейнер
@import "./components/container";

// main scss код:
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  height: 10001px;
}