// 900 (black)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Black.eot');
  src: local('Rubik Black'), local('Rubik-Black'),
      url('../fonts/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Black.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Black.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Black.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Black.svg#Rubik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BlackItalic.eot');
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
      url('../fonts/Rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-BlackItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-BlackItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-BlackItalic.svg#Rubik-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// 800(Extra Bold)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-ExtraBold.eot');
  src: local('Rubik ExtraBold'), local('Rubik-ExtraBold'),
      url('../fonts/Rubik/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-ExtraBold.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-ExtraBold.woff') format('woff'),
      url('../fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-ExtraBold.svg#Rubik-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-ExtraBoldItalic.eot');
  src: local('Rubik ExtraBold Italic'), local('Rubik-ExtraBoldItalic'),
      url('../fonts/Rubik/Rubik-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-ExtraBoldItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-ExtraBoldItalic.svg#Rubik-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// 700 (bold)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('../fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BoldItalic.eot');
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
      url('../fonts/Rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-BoldItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-BoldItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-BoldItalic.svg#Rubik-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// 600 (Semi Bold)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-SemiBold.eot');
  src: local('Rubik SemiBold'), local('Rubik-SemiBold'),
      url('../fonts/Rubik/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-SemiBold.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-SemiBold.woff') format('woff'),
      url('../fonts/Rubik/Rubik-SemiBold.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-SemiBold.svg#Rubik-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-SemiBoldItalic.eot');
  src: local('Rubik SemiBold Italic'), local('Rubik-SemiBoldItalic'),
      url('../fonts/Rubik/Rubik-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-SemiBoldItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-SemiBoldItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-SemiBoldItalic.svg#Rubik-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// 500 (Medium)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('../fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-MediumItalic.eot');
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
      url('../fonts/Rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-MediumItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-MediumItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-MediumItalic.svg#Rubik-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// 400 (Regular)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.eot');
  src: local('Rubik Regular'), local('Rubik-Regular'),
      url('../fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Regular.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Italic.eot');
  src: local('Rubik Italic'), local('Rubik-Italic'),
      url('../fonts/Rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Italic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Italic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Italic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Italic.svg#Rubik-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// 300 (Light)
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Light.eot');
  src: local('Rubik Light'), local('Rubik-Light'),
      url('../fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Light.woff') format('woff'),
      url('../fonts/Rubik/Rubik-Light.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-LightItalic.eot');
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
      url('../fonts/Rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik/Rubik-LightItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-LightItalic.woff') format('woff'),
      url('../fonts/Rubik/Rubik-LightItalic.ttf') format('truetype'),
      url('../fonts/Rubik/Rubik-LightItalic.svg#Rubik-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// ---------------------------------------------------------------------------------------------------------------------------------------

// ExtraBold 800
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.svg#JetBrainsMono-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// ExtraBold 800 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.svg#JetBrainsMono-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// Bold 700
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Bold.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Bold.svg#JetBrainsMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Bold 700 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.svg#JetBrainsMono-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// SemiBold 600
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBold.svg#JetBrainsMono-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// SemiBold 600 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.svg#JetBrainsMono-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// Medium 500
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Medium.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Medium.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Medium.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Medium.svg#JetBrainsMono-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Medium 500 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-MediumItalic.svg#JetBrainsMono-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Regular 400
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Regular.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Regular.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Regular 400 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Italic.svg#JetBrainsMono-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Light 300
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Light.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Light.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Light.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Light.svg#JetBrainsMono-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Light 300 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-LightItalic.svg#JetBrainsMono-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// ExtraLight 200
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLight.svg#JetBrainsMono-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// ExtraLight 200 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.svg#JetBrainsMono-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

// Thin 100
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Thin.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Thin.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Thin.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-Thin.svg#JetBrainsMono-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// Thin 100 Italic
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.eot');
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff') format('woff'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.ttf') format('truetype'),
      url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.svg#JetBrainsMono-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
